<div class="col-md-12 col-sm-12">
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart font-dark hide"></i>
                <span class="caption-subject font-green-steel uppercase bold">Pesquisar
                    em sites do governo</span>
                <span class="caption-helper hide">weekly stats...</span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                    <label class="btn btn-transparent btn-no-border blue-oleo btn-outline btn-circle btn-sm active">
                        <input type="radio" name="options" class="toggle" id="option1">Recentes</label>
                    <label class="btn btn-transparent btn-no-border blue-oleo btn-outline btn-circle btn-sm">
                        <input type="radio" name="options" class="toggle" id="option2">Pesquisar Em Site</label>
                    
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <form action="POST">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn red" type="button">Go!</button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
            </form>
        </div>
    </div>
</div>


{% if context.result_search %}
{% include 'pages/result.html' %}
{% endif %}